* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #FDF6FF;
}

.input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-field select, .input-field button {
  height: 3rem;
  font-size: 1.7vw;
  margin: 1rem auto;
  padding: 1rem auto;
}

.input-field select {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 1rem;
  border: solid 0.2rem blue;
  color: blue;
}

.input-field button {
  width: 10vw;
  margin-left: 1rem;
  background: blue;
  color: #FDF6FF;
  border-radius: 10px;
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  color: blue;
}

.display h1 {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 2.5vw;
}

.display p {
  text-align: center;
  width: 40%;
  margin: 0.4rem auto;
}

.display p:nth-of-type(1) {
  color: #FDF6FF;
  background: blue;
}

.display .pars {
  margin-top: 1rem;
  font-size: 1.6vw;
}

.grid-5, .grid-15, .grid-25 {
  display: -ms-grid;
  display: grid;
}

.grid-5, .grid-15 {
  grid-gap: 0.1vw;
}

.grid-5 {
  -ms-grid-columns: (13.2vw)[3];
      grid-template-columns: repeat(3, 13.2vw);
  -ms-grid-rows: (13.2vw)[2];
      grid-template-rows: repeat(2, 13.2vw);
}

.grid-5 .square:nth-child(3n + 2) {
  background: blue;
}

.grid-5 .square:nth-child(3n + 2):hover {
  background: #FDF6FF;
}

.grid-15 {
  -ms-grid-columns: (7.9vw)[5];
      grid-template-columns: repeat(5, 7.9vw);
  -ms-grid-rows: (7.9vw)[3];
      grid-template-rows: repeat(3, 7.9vw);
}

.grid-15 .square:nth-child(5n + 3), .grid-15 .square:nth-child(2) {
  background: blue;
}

.grid-15 .square:nth-child(5n + 3):hover, .grid-15 .square:nth-child(2):hover {
  background: #FDF6FF;
}

.grid-25 {
  -ms-grid-columns: (7.9vw)[5];
      grid-template-columns: repeat(5, 7.9vw);
  -ms-grid-rows: (7.9vw)[5];
      grid-template-rows: repeat(5, 7.9vw);
  grid-gap: 0.08vw;
}

.grid-25 .square:nth-child(6), .grid-25 .square:nth-child(7), .grid-25 .square:nth-child(8), .grid-25 .square:nth-child(13) {
  background: blue;
}

.grid-25 .square:nth-child(6):hover, .grid-25 .square:nth-child(7):hover, .grid-25 .square:nth-child(8):hover, .grid-25 .square:nth-child(13):hover {
  background: #FDF6FF;
}

.square {
  border: 0.2rem solid blue;
}

.square:hover {
  background: blue;
}

.fifth-square {
  display: none;
}

.field-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.grid-container {
  width: 40%;
  margin-top: 0.3rem;
}

@media screen and (max-width: 768px) {
  .field-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid-container {
    width: 80%;
    margin: auto;
  }
  .input-field select, .input-field button {
    height: 2.2rem;
    font-size: 3vw;
  }
  .input-field button {
    width: 25%;
  }
  .grid-5 {
    margin: auto 4.6rem;
    -ms-grid-columns: (17vw)[3];
        grid-template-columns: repeat(3, 17vw);
    -ms-grid-rows: (17vw)[2];
        grid-template-rows: repeat(2, 17vw);
  }
  .grid-15, .grid-25 {
    margin: auto 3.6rem;
  }
  .grid-15 {
    -ms-grid-columns: (12vw)[5];
        grid-template-columns: repeat(5, 12vw);
    -ms-grid-rows: (12vw)[3];
        grid-template-rows: repeat(3, 12vw);
  }
  .grid-25 {
    -ms-grid-columns: (12vw)[5];
        grid-template-columns: repeat(5, 12vw);
    -ms-grid-rows: (12vw)[5];
        grid-template-rows: repeat(5, 12vw);
  }
  .display {
    width: 80%;
    margin: auto;
  }
  .display h1 {
    font-size: 4.4vw;
  }
  .display .pars {
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .grid-container {
    width: 35%;
  }
  .input-field select, .input-field button {
    height: 2.6rem;
    font-size: 2vw;
  }
  .grid-5 {
    -ms-grid-columns: (11.5vw)[3];
        grid-template-columns: repeat(3, 11.5vw);
    -ms-grid-rows: (11.5vw)[2];
        grid-template-rows: repeat(2, 11.5vw);
  }
  .grid-15 {
    -ms-grid-columns: (6.9vw)[5];
        grid-template-columns: repeat(5, 6.9vw);
    -ms-grid-rows: (6.9vw)[3];
        grid-template-rows: repeat(3, 6.9vw);
  }
  .grid-25 {
    -ms-grid-columns: (6.9vw)[5];
        grid-template-columns: repeat(5, 6.9vw);
    -ms-grid-rows: (6.9vw)[5];
        grid-template-rows: repeat(5, 6.9vw);
  }
  .display {
    width: 40%;
  }
  .display h1 {
    font-size: 2.5vw;
  }
  .display .pars {
    margin-top: 0.5rem;
    font-size: 1.7vw;
  }
}
/*# sourceMappingURL=main.css.map */